if TARGET_TQMT1042

config SYS_BOARD
	default "tqmt1042"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQMT1042"

choice
	prompt "TQMT1042 RCW configuration file"
	default RCW_CFG_TQMT1042_SERDES86
	help
	  select the RCW configuration file to be used for TQMT1042

config RCW_CFG_TQMT1042_SERDES86
	bool "RCW configuration for SERDES mode = 86, default RCW configuration"
	help
	  Select SERDES mode = 86 in reset configuration word.

config RCW_CFG_TQMT1042_SERDES88
	bool "RCW configuration for SERDES mode = 88"
	help
	  Select SERDES mode = 88 in reset configuration word.

config RCW_CFG_TQMT1042_SERDES8E
	bool "RCW configuration for SERDES mode = 8E"
	help
	  Select SERDES mode = 8E in reset configuration word.

endchoice

config SYS_FSL_RCW
	string
	default "board/tqc/tqmt1042/tqmt1042_serdes86_rcw.cfg" if RCW_CFG_TQMT1042_SERDES86
	default "board/tqc/tqmt1042/tqmt1042_serdes88_rcw.cfg" if RCW_CFG_TQMT1042_SERDES88
	default "board/tqc/tqmt1042/tqmt1042_serdes8e_rcw.cfg" if RCW_CFG_TQMT1042_SERDES8E
endif
