if TARGET_TQMT1022 || TARGET_TQMT1040 || TARGET_TQMT1042

config SYS_BOARD
	default "tqmt104x"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "TQMT1022" if TARGET_TQMT1022
	default "TQMT1040" if TARGET_TQMT1040
	default "TQMT1042" if TARGET_TQMT1042
	
choice
	prompt "TQMT104x RCW configuration file"
	default RCW_CFG_TQMT1042_SERDES86 if TARGET_TQMT1022
	default RCW_CFG_TQMT1040_SERDES66 if TARGET_TQMT1040
	default RCW_CFG_TQMT1042_SERDES86 if TARGET_TQMT1042
	help
	  select the RCW configuration file to be used for TQMT104x

config RCW_CFG_TQMT1042_SERDES86
	bool "TQMT1042 RCW configuration for SERDES mode = 86, default RCW configuration"
	help
	  Select SERDES mode = 86 in reset configuration word.

config RCW_CFG_TQMT1042_SERDES88
	bool "TQMT1042 RCW configuration for SERDES mode = 88"
	help
	  Select SERDES mode = 88 in reset configuration word.

config RCW_CFG_TQMT1042_SERDES8E
	bool "TQMT1042 RCW configuration for SERDES mode = 8E"
	help
	  Select SERDES mode = 8E in reset configuration word.

config RCW_CFG_TQMT1040_SERDES66
        bool "TQMT1040 RCW configuration for SERDES mode = 66, default RCW configuration"
        help
          Select SERDES mode = 66 in reset configuration word.

endchoice

config SYS_FSL_RCW
	string
	default "board/tqc/tqmt104x/tqmt1042_serdes86_rcw.cfg" if RCW_CFG_TQMT1042_SERDES86
	default "board/tqc/tqmt104x/tqmt1042_serdes88_rcw.cfg" if RCW_CFG_TQMT1042_SERDES88
	default "board/tqc/tqmt104x/tqmt1042_serdes8e_rcw.cfg" if RCW_CFG_TQMT1042_SERDES8E
	default "board/tqc/tqmt104x/tqmt1040_serdes66_rcw.cfg" if RCW_CFG_TQMT1040_SERDES66
endif
